<main class="main">
  <div class="content">
    <div class="farm-container">

      <div *ngIf="masterAnimal" class="master-animal">
        <img
          class="animal"
          [src]="masterAnimal.image_url"
          [alt]="masterAnimal.name"
          (click)="toggleMasterAnimalImage()"
        />
        <p class="animal-name">{{ masterAnimal.name }} - {{ masterStatus?.status }}  ({{masterStatus?.points}})</p>
      </div>

      <div *ngIf="gratitudeMessage" class="gratitude-message">
        <p>{{ gratitudeMessage }}</p>
      </div>

      <div class="other-animals">
        <div *ngFor="let animal of otherAnimals" class="animal-card">
          <img
            class="animal"
            [src]="animal.image_url"
            [alt]="animal.name"
            (click)="feedAnimal(animal.id)"
          />
          <p class="animal-name">{{ animal.name }} - Gratitude: {{ animal.gratitude_count }}</p> <!-- Show gratitude count -->
        </div>
      </div>

    </div>
  </div>
</main>

<router-outlet/>
