.farm-container {
  position: relative; /* To position the animals relative to the parent */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Take full viewport height */
  flex-direction: column;
}

.master-animal {
  position: absolute;
  z-index: 10; /* Ensure the MASTER animal stays in the center */
}

.animal {
  width: 120px;
  height: 120px;
  object-fit: contain; /* Make sure the image is contained in the circle */
  border-radius: 50%; /* Make animals round */
}

.animal-name {
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  font-weight: bold;
}

.animal-name {
  margin-top: 5px;
}

.other-animals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
}

.animal-card {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.other-animals .animal-card {
  position: absolute;
}

.other-animals .animal-card:nth-child(1) {
  transform: rotate(0deg) translate(200px) rotate(0deg);
}
.other-animals .animal-card:nth-child(2) {
  transform: rotate(45deg) translate(200px) rotate(-45deg);
}
.other-animals .animal-card:nth-child(3) {
  transform: rotate(90deg) translate(200px) rotate(-90deg);
}
.other-animals .animal-card:nth-child(4) {
  transform: rotate(135deg) translate(200px) rotate(-135deg);
}
.other-animals .animal-card:nth-child(5) {
  transform: rotate(180deg) translate(200px) rotate(-180deg);
}
.other-animals .animal-card:nth-child(6) {
  transform: rotate(225deg) translate(200px) rotate(-225deg);
}
.other-animals .animal-card:nth-child(7) {
  transform: rotate(270deg) translate(200px) rotate(-270deg);
}
.other-animals .animal-card:nth-child(8) {
  transform: rotate(315deg) translate(200px) rotate(-315deg);
}
